.sidenav{
    padding-top: 10%;
    background-color: white;    
    width: 130px;
}

.sidenav a{
    color:#1a0701;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding:16px;
    background-color:white;
    color: black;
}

