table{
    width: 100%;
    background-color:white
}

th, td{
    color: black;
    
}

mat-paginator{
    background-color: #1a0701;
}

i.edit{
    color: #1a0701 ;
    margin-right: 6px;
}

i.delete{
    color: red;
}

.page{
    color: black;
}