<mat-card class="corForm">
    <mat-card-title class="title"> Novo Produto </mat-card-title>
<form class="form">
    <mat-form-field class="styleName">
        Nome
        <input matInput placeholder="INSIRA O NOME DO PRODUTO" [(ngModel)] ="product.name" name="name"> 
    </mat-form-field>

    <mat-form-field class="styleName" >
        <h3>Valor</h3>
        <input matInput placeholder="INSIRA APENAS NÚMEROS" [(ngModel)] ="product.price" name="price">
    </mat-form-field>
    
</form>
    <button mat-raised-button (click)=" createProduct() " class="botaoSalvar"  matTooltip="Info about the action">
        Salvar
        <i class="material-icons check">
            check
        </i>
    </button>

    <button mat-raised-button (click)=" cancel() " class="botao">
        Cancelar
        <i class="material-icons">
            cancel
        </i>
    </button>

</mat-card>

