<mat-card class="home mat-elevation c3">
    <mat-card-title class="title"> Resumo sobre quem sou eu ! </mat-card-title>

    <mat-card-subtitle class="subtitle"> Me chamo Andreza Mércya , sou formada em ciência da computaçao(/18) e tenho 24
        anos.
    Atualmente trabalho com Java, mas sempre bom aprender novas tecnologias e
        sempre gostei da área de front end. Cá estou eu dando início a uma nova jornada aprendendo angular.
     Este é o primeiro projeto que faço, tomando como base um curso da udemy.
    </mat-card-subtitle>

</mat-card>