<mat-card class="home mat-elevation c3">
    <mat-card-title class="title"> Olá! </mat-card-title>

    <mat-card-subtitle class="subtitle"> 
    Me chamo Andreza Mércya , sou formada em Ciência da Computação(/18) e tenho 24
        anos. <br/>
    Atualmente trabalho com Java, mas sempre bom aprender novas tecnologias e
        sempre gostei da área de frontEnd. Cá estou eu dando início a uma nova jornada aprendendo angular 9 e Java Script, 
        este é o primeiro projeto que faço, tomando como base um curso da udemy.
    </mat-card-subtitle>

</mat-card>